<h1>Your Project</h1>
  <form method="POST" action="/projects/<%= @project.id %>/delete">
    Project Name:<%= @project.name %>
    Project Description:<%= @project.description %>
    Project Completion Date:<%= @project.completion_date %>
  <input id="hidden" type="hidden" name="_method" value="DELETE">
   <input type="submit" value="Delete Project">
  </form>
  <form  action="/tweets/<%= @project.id %>/edit">
    <input type="submit" value="Edit Project">
  </form>
